[submodule "third_party/hdmapping"]
	path = third_party/hdmapping
	url = https://github.com/MapsHD/HDMapping.git
[submodule "third_party/nanoflann"]
	path = third_party/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
